body {
    background-color: blanchedalmond;
}

#about {
    background-color: rebeccapurple;
}

section {
    background-color: royalblue;
    border: solid black 1px;
    margin-top: 1rem;
}

.category-title {
    background-color: burlywood;
}

.category-title h3 {
    background-color: chartreuse;
    font-weight: 900;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}